form {
    display: flex;
    justify-content: center;
    align-items:start;
}

.input {

    border: 2px solid rgb(23, 219, 241);
    width: 200px;
    height: 30px;


}

.inputtext {
    color: white;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}