.input {
    border: 3px solid  rgb(23, 219, 241);
    width: 230px;
   
}
.inputtext {
    color: white;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}